@import "tailwindcss";

::-webkit-scrollbar {
    display: none;
}

.animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes gradientFlow {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.md\:animate-gradientFlow {
    background-size: 200% 200%;
    animation: gradientFlow 8s ease infinite;
}



html,
body {
    height: auto !important;
    overflow: visible !important;
    scroll-behavior: auto !important;
    /* disable native smooth scroll */
}